<div class="container">
  <div class="orderBox">
    <h1>EAT DA BURGER</h1>
    <form class="create-form">
      <h4><i class="far fa-clipboard fa-2x"> Order a burger</i></h4>
      <div class="form-group">
        <input type="text" id="bb" name="name" placeholder="Enter in a burger you want to eat here.">
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit Order</button>
    </form>
  </div>

  <div class="row">
    <div class="orderedbox">
      <h3>Burgers ordered!</h3>
      <ul>
        {{#each burgerdb}}
        {{#unless devoured}}
        {{> b/b-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="orderagainbox">
      <h3>Do you want to order again?</h3>
      <ul>
        {{#each burgerdb}}
        {{#if devoured}}
        {{> b/b-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
</div>