body {
  background-image: url("https://cdn1.vectorstock.com/i/1000x1000/17/25/burger-seamless-pattern-with-cute-fast-vector-19081725.jpg")
}

h1 {
  text-align: center;
  font-size: 6rem !important;
  padding: 20px !important;
}

.container {
  margin-top: 5% !important;
  background-color: rgb(200, 151, 59);
  padding: 10px;
  margin-bottom: 10% !important;
  border: solid brown;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  font-size: 1.5rem;
}

.label {
  font-weight: bold;
}


.create-form {
  padding: 20px !important;
  margin: 10px !important;
  text-align: center;
  border: solid #faebd7;
}

.form-group {
  margin-bottom: 20px;
  background-color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
}

#bb {
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 2rem;
}

.row {
  display: flex;
  justify-content: space-evenly;

}

.orderedbox {
  width: 50%;

}

.orderagainbox {
  width: 50%;

}

h3 {
  text-align: center;
}

/* @media only screen and (min-width: 600px) {
.container{
  height: 80vh;
}
} */